.category-card {
    border: 1px solid var(--card-border);
    border-radius: var(--space-2xs);
    background: var(--card-background);
    transition: box-shadow 0.2s ease-in-out;
    min-width: 10em;
    text-align: center;
}

.category-card:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.category-card a {
    display: block;
    text-decoration: none;
    color: var(--text-primary);
    padding: var(--space-s) var(--space-m);
}

.category-card-image {
    display: block;
    margin: 0;
    width: 100%;
    max-width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: var(--space-3xs);
    margin-bottom: var(--space-xs);
}

.category-card-title {
    margin: 0;
    font-size: var(--step-0);
}

.category-card-meta {
    margin: var(--space-2xs) 0 0;
    color: var(--text-muted);
    font-size: var(--step--1);
}
