.with-sidebar {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-m);
}

.with-sidebar > :first-child {
    flex-basis: 0;
    flex-grow: 999;
    min-inline-size: 50%;
}

.with-sidebar > :last-child {
    flex-basis: 20rem;
    flex-grow: 1;
}
